<section class="summary-cards">
  <div class="card deleted">
    <h4>Total Deleted</h4>
    <p>{{summary.deleted}}</p>
  </div>
  <div class="card restored">
    <h4>Total Restored</h4>
    <p>{{summary.restored}}</p>
  </div>
  <div class="card permanent">
    <h4>Permanently Deleted</h4>
    <p>{{summary.permanent}}</p>
  </div>
</section>
