<div class="home-container">
  <h1 class="home-title">BinMonitor Plus</h1>
  <p class="home-description">
    Recycle Bin Monitoring and Reporting Solution.
  </p>

  <div class="action-btn">
    {{#link-to "recyclebin"}}📂 View Deleted Files{{/link-to}}
  </div>
</div>
