<h3>Login</h3>
{{#if message}}<p class="msg">{{message}}</p>{{/if}}

<form id="loginForm" action="/login" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>
  <label>Password:</label>
  <input type="password" name="password" required>
  <button type="submit">Login</button>
</form>
<p>Don’t have an account? <a href="/signup">Signup</a></p>
